@import "octicon-mixins";
@import "ui-variables";

.archive-view {
  background-color: @inset-panel-background-color;
  overflow: auto;

  .archive-container {
    height:100%;
    width: 100%;

    .loading-message {
      margin: 5px;

      .octicon(hourglass);

      &:before {
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }

    .inset-panel {
      border-width: 0;

      .panel-heading {
        border-radius: 0;
      }
    }

    .archive-tree {
      padding: 5px;
    }
  }
}
